@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");


body{
  background-color: #07020d;
  font-family: 'Aboreto', cursive;  
}

.logo{
height: 150px;
position:fixed;
float: left;
}

.btn{
  background-color:#F39C6B;
  text-decoration: none;
  border-radius: 50px ;
  padding: 10px;
  color:#07020d;
  }

.btn:hover{
 
    background-color: #F39C6B;
    box-shadow: 0px 7px 10px #f46614;
    color: #5DB7DE;
    transform: translateY(-7px);
    
  }


ul{
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  align-items: center;
  gap: 30px;
  height: 100px;
  list-style: none;
  color:black;
}



header{
  display: flex;
  justify-content: flex-end;
}
section{
  display: flex;
  justify-content: center;
}
.moi{
  height: 290px;
  z-index: 1;
  position: relative;
  top: 150px;
  left: 310px;
}
.poly{
  width: 480px;
  height: 450px;
  /* background-color: #F39C6B; */
  background-image: url(./Asset/5a210553500217.4860245415121134913277.png);
  background-size: 550px 450px ;
  background-repeat: no-repeat;
  background-position: center;
  display: table;
  -webkit-animation: poly 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: poly 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  border-radius: 30px;
}

.name{
  font-size: 30px;
  color:#5DB7DE;
}

.intro{
  color:#F39C6B;
}

h3,h1{
  color:#5DB7DE; 
}

@-webkit-keyframes poly {
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  0% {
    -webkit-transform: scaleY(0.3);
            transform: scaleY(0.3);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}
@keyframes poly {
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  0% {
    -webkit-transform: scaleY(0.3);
            transform: scaleY(0.3);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}

.bulle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #0d0d0e;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  background: #f1f1f1;
  cursor: pointer;
  position: relative;
}
.bulle:hover {
  background-color: #5DB7DE;
  box-shadow: 0px 15px 20px #5DB7DE;
  color: rgb(0, 0, 0);
  transform: translateY(-7px);
}
.logo-medias {
  width: 40px;
  height: 40px;
}
.mediabulle{
  display: flex;
  float:right ;
  flex-direction: row;
}