@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}


html{
  scroll-behavior: smooth;
}

div, section, span, ul, li, a, header{
    box-sizing: border-box;
    
}
section{
  width: 100%;
  float: left;
  height: 100vh;
  position: relative;
}

body{
  background-color: #000000;
  font-family: 'Aboreto', cursive;  
  
}


.logo{
height: 150px;
position:fixed;
float: left;
}

.btn{
  background-color:#F39C6B;
  text-decoration: none;
  margin: 20px;
  color:#07020d;
  border-radius: 100px;
}

.btn:hover{
 
    background-color: #F39C6B;
    box-shadow: 0px 7px 10px #f46614;
    color: #5DB7DE;
    transform: translateY(-7px);
    
  }


ul{
  display: flex;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
  font-size: 20px;
  position: fixed;
  
}

.list {
  display: flex;
  justify-content: space-around;
  margin-left: auto;
}

.list a {
  display: flex;
  justify-content: space-around;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.mainContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.firstContainer{
  color:#F39C6B;
  border: #5DB7DE;
}

.secondContainer{
  color:#F39C6B;
  border: #5DB7DE;
}

.thirdContainer{
  color: #F39C6B;
  border: #5DB7DE;
}

a{
  text-decoration: none;
  color: #F39C6B;
}
header{
  display: flex;
  justify-content: flex-end;
}
section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.moi{
  height: 20rem;
  border-radius: 100px;
  margin-left: 5rem;
}

.name{
  font-size: 30px;
  color:#5DB7DE;
  margin-top: 15px;
}

.intro{
  color:#F39C6B;
  
}
p{
  margin-top: 10px;
}

h3,h1{
  color:#5DB7DE; 
 
}



.bulle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #0d0d0e;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  background: #f1f1f1;
  cursor: pointer;
  position: relative;
}
.bulle:hover {
  background-color: #5DB7DE;
  box-shadow: 0px 15px 20px #5DB7DE;
  color: rgb(0, 0, 0);
  transform: translateY(-7px);
}
.logo-medias {
  width: 40px;
  height: 40px;
}
.mediabulle{
  display: flex;
  float:right ;
  flex-direction: row;
}